{% extends 'layouts/nav.html' %}

{% load crispy_forms_tags %}

{% block content %}

<main class="container">
    <div class="row">
        <section class="col-md-6 offset-md-3 my-3">
            <h1 class="text-center display-6">Registrar documento</h1>

            {% if error %}
                <div class="alert alert-danger text-center d-flex py-2" role="alert">
                    <i class="bi bi-x-circle-fill"></i>
                    <div class="mx-auto">
                        {{ error }}
                    </div>
                </div>
            {% endif %}

            {% if 'ok' in request.GET %}
            
                <div class="alert alert-success text-center d-flex py-2" role="alert">
                    <i class="bi bi-check-circle-fill"></i>
                    <div class="mx-auto">
                        Documento registrado con éxito
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <a class="btn btn-primary flex-fill mx-2" href="{% url 'registerdoc' %}">
                        <i class="bi bi-file-plus-fill mx-1" style="font-size: 1.2rem; color: #fff;"></i>
                        Nuevo registro</a>
                    <a class="btn btn-primary flex-fill mx-2" href="{% url 'searchdoc' %}">
                        <i class="bi bi-search mx-1" style="font-size: 1.2rem; color: #fff;"></i>
                        Buscar</a>
                </div>
            {% else %}
                <form method="POST" enctype='multipart/form-data' class="card card-body form-registerdoc mb-5">
                    {% crispy form %}
                    <button type="submit" class="btn btn-primary btn-registerdoc" >
                        Registrar</button>
                </form>
            {% endif %}

        </section>
        
            
    </div>
</main>

{% endblock %}

