{% extends 'layouts/base.html' %}
{% block content %}

<main class="container">
    <div class="row">
        <section class="col-md-12 mt-4">
            <h3 class="text-center mb-3" >Buscar documentos</h3>
            <form method="GET" class="card card-body flex-row flex-wrap justify-content-between align-items-center">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="doctype_search">Documento:</label>
                    <select name="doctype_search" class="select form-select" id="doctype_search" style="max-width: 200px;">
                        <option value="" {% if not request.GET.doctype_search %}selected{% endif %}>Escoge documento ...</option>
                        {% for doctype in doctypes %}
                        <option value="{{ doctype.pk }}" {% if request.GET.doctype_search == doctype.pk|stringformat:"s" %}selected{% endif %}>{{ doctype.name }}</option>

                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="direction_search">Dirección:</label>
                    <select name="direction_search" class="select form-select" id="direction_search" style="max-width: 200px;">
                        <option value="" {% if not request.GET.direction_search %}selected{% endif %}>Escoge dirección ...</option>
                        {% for direction in directions %}
                        <option value="{{ direction.pk }}" {% if request.GET.direction_search == direction.pk|stringformat:"s" %}selected{% endif %}>{{ direction.name }}</option>
                        {% endfor %}
                    </select>
                    
                </div>
                <div class="mb-3">
                    <label for="date_search">Fecha:</label>
                    <input type="date" name="date_search" id="date_search" 
                    class="form-control" value="{{ request.GET.date_search }}">
                </div>
                <div class="mb-3">
                    <label for="name_search">Descripción:</label>
                    <input type="text" name="name_search" id="name_search" 
                    class="form-control" value="{{ request.GET.name_search }}" style="max-width: 150px;">
                </div>
                <div class="mb-3">
                    <label for="codigo_search">Código:</label>
                    <input type="text" name="codigo_search" id="codigo_search" 
                    class="form-control" value="{{ request.GET.codigo_search }}" style="max-width: 150px;">
                </div>
                <div class="mt-2">
                    <button class="btn btn-primary" title="Buscar">
                        <i class="bi bi-search mx-1" style="font-size: 1rem;"></i>
                        Buscar
                    </button>
                    <a href="{% url "searchdoc" %}" class="btn btn-secondary" title="Limpiar">
                        <i class="bi bi-eraser-fill" style="font-size: 1rem;"></i>
                    </a>
                </div>
            </form>
        </section>
        
        <section class="col-md-12 my-3">
            {% if messages %}
                {% for msg in messages  %}
                    <div class="alert alert-success py-2 d-flex alert-hide" role="alert">
                        <div class="mx-auto">
                            {{ msg }}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="card card-body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Acciones</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Dirección</th>
                        {% comment %} <th scope="col">Orígen</th> {% endcomment %}
                        <th scope="col">Fecha</th>
                        <th scope="col">Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for document in page_obj %}
                            <tr>
                                <td class="d-flex justify-content-start">
                                    {% if user_groups %}
                                        {% for group in user_groups %}
                                            {% if group.name == 'Operador' %}
                                                {% if document.file_exists %}
                                                    <a class="btn btn-outline-primary btn-sm" href="{% url 'previewdoc' doc_id=document.pk %}" target="_blank" title="Visualizar">
                                                        <i class="bi bi-search"></i>
                                                    </a>
                                                {% else %}
                                                    <a class="btn btn-outline-primary btn-sm disabled" href="#" title="Archivo no encontrado">
                                                        <i class="bi bi-search"></i>
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                {% if document.file_exists %}
                                                    <a class="btn btn-outline-primary btn-sm" href="{% url 'updatedoc' document.id %}">
                                                        <i class="bi bi-pencil-fill" title="Editar"></i>
                                                    </a>
                                                    <a class="btn btn-outline-danger btn-sm btn-delete mx-1" href="{% url 'deletedoc' document.id %}" title="Eliminar">
                                                        <i class="bi bi-trash-fill"></i>
                                                    </a>
                                                    <a class="btn btn-outline-primary btn-sm" href="{% url 'previewdoc' doc_id=document.pk %}" target="_blank" title="Visualizar">
                                                        <i class="bi bi-search"></i>
                                                    </a>
                                                {% else %}
                                                    <a class="btn btn-outline-primary btn-sm disabled" href="#" title="Archivo no encontrado">
                                                        <i class="bi bi-pencil-fill"></i>
                                                    </a>
                                                    <a class="btn btn-outline-danger btn-sm btn-delete mx-1 disabled" href="#" title="Archivo no encontrado">
                                                        <i class="bi bi-trash-fill"></i>
                                                    </a>
                                                    <a class="btn btn-outline-primary btn-sm disabled" href="#" title="Archivo no encontrado">
                                                        <i class="bi bi-search"></i>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                
                                <td>
                                    <span class="d-inline-block text-truncate" style="max-width: 180px;">
                                        {% with file_path=document.fileupload %}
                                            {% with file_name=file_path|cut:"/"|slice:"7:" %}
                                                {{ file_name }}
                                            {% endwith %}
                                        {% endwith %} 
                                    </span>
                                </td>
                                <td>
                                    <span class="d-inline-block text-truncate" style="max-width: 180px;">
                                    {{ document.doctype }}
                                    </span>
                                </td>
                                <td> 
                                    <span class="d-inline-block text-truncate" style="max-width: 180px;">
                                    {{ document.direction }} 
                                    </span>
                                </td>
                                {% comment %} <td> 
                                    <span class="d-inline-block text-truncate" style="max-width: 180px;">
                                        {{ document.origin }} 
                                    </span>
                                </td> {% endcomment %}
                                <td> 
                                    {{ document.dateregister|date:"d/m/Y" }}
                                </td>
                                <td> 
                                    {{ document.id }}
                                </td>
                            </tr>
                            {% empty %}
                            <div class="alert alert-warning text-center d-flex py-2" role="alert">
                                <i class="bi bi-info-circle-fill"></i>
                                <div class="mx-auto">
                                    No se encontraron documentos
                                </div>
                            </div>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </section>
        
        <section class=" mb-5">
            {% if page_obj.has_other_pages %}
                {% include "pagination.html" %}
            {% endif %}
        </section>
    </div>
</main>

{% endblock %}
