{% extends 'layouts/nav.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <section class="col-md-12 mt-3">
            

            <h1 class='text-center display-6'>Buscar documentos</h1>
            <form method='POST' class="card card-body flex-row justify-content-between align-items-center" >
                {% csrf_token %}
                <div class="mb-3">
                    <label for="doctype_search">Documento:</label>
                    <select name="doctype_search" class="select form-select"  id="doctype_search"> 
                        <option value="" selected="">---------</option>
                        <option value="INF">Informe</option>
                        <option value="MEM">Memoradum</option>
                        <option value="CAR">Carta</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="origin_search">Origen:</label>
                    <select name="origin_search" class="select form-select"  id="origin_search"> 
                        <option value="" selected="">---------</option>
                        <option value="ADM">Administración</option>
                        <option value="LOG">Logística</option>
                        <option value="TEL">Telecomunicación</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="date_search">Fecha:</label>
                    <input type="date" name="date_search" id="date_search" 
                    class="form-control" >
                </div>
                <div class="mb-3">
                    <label for="name_search">Descripción:</label>
                    <input type="text" name="name_search" id="name_search" 
                    class="form-control">
                </div>
                <button class='btn btn-primary'>
                <i class="bi bi-search mx-1" style="font-size: 1rem; color: #fff;"></i>
                Buscar</button>
            </form>
        </section>

        {% comment %} Mostrar resultado de búsqueda {% endcomment %}
        <section class="col-md-12 mt-3">
            {% for msg in messages  %}
                <div class="alert alert-success alert-dismissible text-center col-md-6 offset-md-3 fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% if documents.count > 0 %}
            <div class="card card-body">

                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Acciones</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for document in documents %}
                            <tr>
                                <th scope="row"> {{ forloop.counter }} </th>
                                <td>
                                    <a class="btn btn-outline-primary btn-sm" href=" {% url 'updatedoc' document.id %} ">
                                        <i class="bi bi-pencil-fill" title="Editar"></i>
                                    </a>
        
                                    <a class="btn btn-outline-danger btn-sm" href=" {% url 'deletedoc' document.id %}" title="Eliminar">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
        
                                    <a class="btn btn-outline-primary btn-sm me-2" href="{% url 'previewdoc' document.id %}" title="Ver">
                                        <i class="bi bi-search"></i>
                                    </a>
                                </td>
                                <td>
                                    {% with file_path=document.fileupload %}
                                        {% with file_name=file_path|cut:"/"|slice:"7:" %}
                                            {{ file_name }}
                                        {% endwith %}
                                    {% endwith %}
                                </td>
                                <td> {{ document.description }} </td>
                                <td> 
                                    {{ document.dateregister|date:"d/m/Y" }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </section>
    </div>
</main>

{% endblock %}
