{% extends 'layouts/nav.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="position-absolute top-50 start-50 translate-middle">
            <section class="col-md-4 offset-md-4">
                {% if user.is_authenticated %}
                    <div class="alert alert-warning text-center d-flex py-2" role="alert">
                        <i class="bi bi-info-circle-fill"></i>
                        <div class="mx-auto">
                            Ya iniciaste sesión {{ user.username }}
                        </div>
                    </div>
                {% else %}
                    <div class="text-center">
                        <i class="bi bi-person-fill" style="font-size: 3rem;"></i>
                    </div>
                    <h1 class="text-center display-6 text-center fs-2 mb-3">Iniciar sesión</h1>
                {% if error %}
                    <div class="alert alert-danger text-center py-2 d-flex" role="alert">
                        <i class="bi bi-x-circle-fill"></i>
                        <div class="mx-auto">
                            {{ error }}
                        </div>
                    </div>
                {% endif %}
                    <form method="POST" class="card card-body">
                        {% csrf_token %}
                        <div class="mb-3 input-group">
                            {% comment %} <label for="username">Usuario:</label> {% endcomment %}
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-person-fill"></i>
                            </span>
                            <input type="text" name="username" id="username" 
                            class="form-control" placeholder="Nombre de usuario" autofocus>
                        </div>
                        <div class="mb-3 input-group">  
                            {% comment %} <label for="password">Contraseña:</label> {% endcomment %}
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-lock-fill"></i>
                            </span>
                            <input type="password" name="password" id="password" 
                            class="form-control" placeholder="Tu contraseña">
                        </div>
        
                        <button class="btn btn-primary">Ingresar</button>
                    </form>
                {% endif %}
            </section>
        </div>
    </div>
</main>

{% endblock %}
