{% extends 'layouts/nav.html' %}

{% load crispy_forms_tags %}

{% block content %}

<main class="container">
    <div class="row">
        <section class="col-md-6 offset-md-3 my-3">
            <h1 class="text-center display-6">Actualizar documento</h1>

                <form method="POST" enctype='multipart/form-data' class="card card-body form-registerdoc">
                    {% crispy form %}
                    <button type="submit" class="btn btn-primary btn-registerdoc" >Actualizar</button>
                </form>
                <div class="d-flex justify-content-center my-3">
                    <a class="btn btn-outline-primary btn-sm" href=" {% url 'searchdoc'%} ">
                        <i class="bi bi-arrow-left-circle" title="Regresar"></i>
                        Regresar
                    </a>
                </div>
        </section>
        
            
    </div>
</main>

{% endblock %}

